
body {
  font-family: 'Ubuntu', sans-serif;
  margin:0px;
  

}
.home_rightside{
  color: red;
  background:white url('https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlJTIwc3RvcmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60') no-repeat center;
  background-size: cover;
  height: 88vh;
  width: 600px;
  padding-top:150px;


}
.login_container{
  width: 85%;
  margin: auto;
display: flex;
align-items: center;
flex-direction: column;

}
.landing-page{
  width: 100%;
}
.nav_login{
  background-color: yellow;
  border-radius: 20px 10px;
}
.nav_register{
  background-color: yellow;
  border-radius: 20px 10px;
  margin-left: 20px;


}

.navbar_main{
  background-color: aqua;
  position:sticky;
  top: 0;
}
